.button {
    width: 160px;
    height: 60px;
    border: none;
    filter: none; /* Remova o drop-shadow */
    box-shadow: 0 4px 6px #0000001a, 0 2px 4px #0000000f;
    background-color: #1F51FF;
    color: #F5F5F5;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}
.danger { 
    background-color: red;
}